* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

/* Nav & Hero */

.home {
    height: 100vh;
    background-color: #E2E54B33;
}

.nav {
    height: 15vh;
    background-color: #EAE431;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    width: 100%;
}

.nav > img {
    height: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 0 1.5vw;
    font-weight: 400;
    font-size: 20px;
}

.active {
    font-weight: 600;
}

.nav-button {
    background-color: #A0BDED;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    transition: ease 0.5s;
}

.nav-button:hover {
    background: #6385BC;
}

.home-hero {
    height: 85vh;
    text-align: center;
}

.hero-title {
    font-weight: 500;
    text-align: center;
    font-size: 56px;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 10vh;
}

.hero-desc {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-top: 6vh;
    padding-bottom: 5vh;
}

.hero-button {
    background-color: #EBEBEB;
    text-decoration: none;
    font-weight: 500;
    border-radius: 23px;
    color: black;
    font-size: 28px;
    padding: 9px 80px;
    text-align: center;
    transition: ease 0.5s;
}

.hero-button:hover {
    background-color: #5159A3;
    color: #EBEBEB;
}

/* Download Section */

.download {
    height: 100vh;
}

.download-container {
    padding-top: 30vh;
    height: 70vh;
    display: flex;
}

.download-text {
    width: 65%;
    padding-left: 5vw;
}

.download-step {
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.download-step > img {
    height: 40px;
    padding-right: 1vw;
}

.download-step > h2 {
    font-weight: 400;
    font-size: 32px;
}

.download-button-container {
    padding-top: 7vh;
    padding-left: 3vw;
}

.download-button {
    background-color: #A0BDED;
    text-decoration: none;
    color: black;
    border-radius: 22px;
    padding: 8px 26px;
    font-size: 26px;
    font-weight: 500;
    transition: ease 0.5s;
}

.download-button:hover {
    background: #6385BC;
}

.download-img {
    width: 35%;
    height: 40vh;
    background-image: url(./Assets/illustration.png);
    background-repeat: no-repeat;
    background-size: 25vw;
    background-position: left top;
}

/* Description Section */

.desc {
    border-top: 3px solid black;
    height: 60vh;
    display: flex;
    padding-top: 10vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

.desc-section {
    width: 25%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.desc-section > i {
    font-size: 40px;
    padding-bottom: 2vh;
}

.fa-pen-to-square {
    color: #264DD7;
}

.fa-book-bookmark {
    color: #4BBA63;
}

.fa-location-dot {
    color: #CFCC63;
}

.fa-hourglass-half {
    color: #DD3333;
}

.desc-section > p {
    font-size: 20px;
}

.desc-title {
    font-weight: 500;
}

/* Tablet  Responsivity */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .nav {
        height: 8vh;
        padding: 0 4vw;
        width: 100%;
    }

    .home {
        height: 60vh;
    }

    .home-hero {
        height: 52vh;
    }

    .nav-button {
        font-size: 20px;
    }

    .hero-title {
        font-size: 64px;
        padding-left: 18vw;
        padding-right: 18vw;
        padding-top: 7vh;
    }

    .hero-desc {
        font-size: 24px;
        padding-left: 25vw;
        padding-right: 25vw;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    .hero-button {
        font-size: 34px;
    }

    .download {
        height: 40vh;
    }

    .download-img {
        background-image: none;
        display: none;
        width: 0;
    }

    .download-container {
        width: 100%;
        padding-top: 0;
        height: 40vh;
    }

    .download-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 10vh;
    }

    .download-steps {
        display: flex;
    }

    .download-step {
        width: 33%;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
    }

    .download-step > h2 {
        font-size: 24px;
        padding-top: 1vh;
    }

    .download-button-container {
        text-align: center;
        padding-top: 4vh;
    }

    .download-button-container > a {
        padding: 10px 26px;
        font-size: 30px;
    }

    .desc {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3vh;
    }

    .desc-section {
        width: 42%;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .desc-section > i {
        padding-bottom: 1vh;
    }
}

/* Mobile Responsivity */

@media only screen and (max-width: 767px) {
    .home {
        height: 80vh;
    }

    .home-hero {
        height: 70vh;
    }

    .nav-button {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav {
        height: 10vh;
        padding-left: 3vw;
    }

    .hero-title {
        padding-top: 6vh;
        padding-left: 7vw;
        padding-right: 7vw;
        font-size: 44px;
        padding-bottom: 1vh;
    }

    .hero-desc {
        font-size: 16px;
        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .hero-button {
        font-size: 30px;
        padding: 9px 40px;
    }


    .download {
        height: 50vh;
    }

    .download-img {
        display: none;
    }

    .download-text {
        width: 100%;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .download-step > h2 {
        font-size: 18px;
    }

    .download-container {
        padding-top: 5vh;
        height: 50vh;
    }
    
    .desc {
        height: 160vh;
        flex-wrap: wrap;
    }

    .desc-section {
        width: 90%;
    }
}